<br>
<%= link_to 'æ—¥è¨˜ã‚’æ›¸ã', new_horse_diary_path, class: 'btn-border-bottom'%><br>

<%= search_form_for @search do |f| %>
  <%#= f.label :content, "Keyword" %><br>
  <%= f.search_field :content_cont %>

  <%= f.submit "ðŸ”Ž" %>
<% end %>
<% @horse_diaries.each do |diary|%>
<%# binding.irb %>
  <div class = "box11" >
    <% if diary.content.length >= 25 %>
      <% text = diary.content %>
      <% text = text.slice(0..25) %>
      <% text += "..." %>
      <%= link_to (text), horse_diary_path(diary.id) %>
    <% else %> 
      <%= link_to (diary.content), horse_diary_path(diary.id) %>
    <% end %>
  </div>
  <br>
  <%#= link_to 'è©³ç´°', horse_diary_path(diary.id) %>
  <%#= link_to 'ç·¨é›†', edit_horse_diary_path(diary.id) %>
  <%#= link_to 'å‰Šé™¤', horse_diary_path(diary.id), method: :delete, data: {confirm: 'æŠ•ç¨¿ã‚’å‰Šé™¤ã—ã¦ã‚‚ã‚ˆã‚ã—ã„ã§ã—ã‚‡ã†ã‹ï¼Ÿ'} %>
<%end%>
<div class = 'pagination' >
      <%= paginate @horse_diaries %>
</div>