<br>
<%= link_to '新しく投稿する', new_horse_diary_path%><br>
<%= search_form_for @search do |f| %>
  <%= f.label :content, "Keyword" %><br>
  <%= f.search_field :content_cont %>

  <%= f.submit "検索" %>
<% end %>
<% @horse_diaries.each do |diary|%>
<%# binding.irb %>
  <div class = "balloon1" >
    <% if diary.content.length >= 10 %>
      <% text = diary.content %>
      <% text = text.slice(0..10) %>
      <% text += "..." %>
      <%= link_to (text), horse_diary_path(diary.id) %>
    <% else %> 
      <%= link_to (diary.content), horse_diary_path(diary.id) %>
    <% end %>
  </div>
  <br>
  <%#= link_to '詳細', horse_diary_path(diary.id) %>
  <%#= link_to '編集', edit_horse_diary_path(diary.id) %>
  <%#= link_to '削除', horse_diary_path(diary.id), method: :delete, data: {confirm: '投稿を削除してもよろしいでしょうか？'} %>
<%end%>
<div class = 'pagination' >
      <%= paginate @horse_diaries %>
</div>