<!DOCTYPE html>
<html>
  <head>
    <title>Hns</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="menu">
      <div class="title">MENU</div>
      <ul class="nav">
        <li><%= link_to 'My page', edit_user_registration_path(current_user.id) %></li>
        <li><%= link_to 'Whisper', posts_path %></li>
        <li><%= link_to '乗馬日記', horse_diaries_path %></li>
      </ul>
    </div>

    <% if user_signed_in? %>
      <%= link_to "post投稿", posts_path %>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "新規登録", new_user_registration_path %>
      <%= link_to "ログイン", new_user_session_path %>
    <% end %>

    <% if notice %>
      <p class="alert alert-notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-error"><%= alert %></p>
    <% end %>
    
    <div class="col text-center" >
      <div class="container">
        <div class="row">
          <div class="col-md-2 col-sm-1 col-xs-0">
          </div>
          <div class="col-md-8 col-sm-9 col-xs-12">
            <%= yield %>
          </div>
          <div class="col-md-2 col-sm-1 col-xs-0">
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
